/*
 * http://www.micetomeetyou.net
 *NUNO BENTO RATINHO
 * 
 * 
 * 
 */
@mixin flexbox( $direction: row,                            
                $align_main_axis: flex-end,                 
                $align_second_axis: center,               
                $expand_mode: 0,                            
                $wrap_mode: wrap,
                $shrink_mode: 0                          
              ) 
{ 
    
    /*========================================== DISPLAY*/ 
    display: -webkit-box;   
    display: -moz-box;
    display: -ms-flexbox;   
    display: -webkit-flex;
    display: flex;

    /*========================================== FLEX-DIRECTION*/
    $direction_old:  $direction;
   
    
    @if $direction == row {   $direction_old: horizontal;

    }@if $direction == column {  $direction_old: vertical;
    }    
    
    -webkit-box-direction:  normal; 
    -moz-box-direction:     normal; 
    -webkit-box-orient:     $direction_old;   
    -moz-box-orient:        $direction_old; 
    
    -ms-flex-direction:     $direction;

    -webkit-flex-direction: $direction;      
    flex-direction:         $direction;
    
    /*========================================== JUSTIFY-CONTENT main axis*/
    
    $align_main_axis_old: $align_main_axis;
    
    @if $align_main_axis == flex-end {   $align_main_axis_old: end;

    }@if $align_main_axis == flex-start {  $align_main_axis_old: start;

    }@if $align_main_axis == space-between {  $align_main_axis_old: justify;

    }@if $align_main_axis == space-around {  $align_main_axis_old: justify; 
    }

    -webkit-box-pack:           $align_main_axis_old;    
    -moz-box-pack:              $align_main_axis_old;  

    -ms-flex-pack:              $align_main_axis_old;

    -webkit-justify-content:    $align_main_axis;    
    justify-content:            $align_main_axis;
    
    /*==========================================  ALIGN-ITEMS  secondary axis*/
     
    $align_second_axis_old: $align_second_axis;
    
    @if $align_second_axis == flex-end {
            $align_second_axis_old: end;

    }@if $align_second_axis == flex-start {
            $align_second_axis_old: start;
    }

    -webkit-box-align:   $align_second_axis_old;    
    -moz-box-align:      $align_second_axis_old;             
    
    -ms-flex-align:      $align_second_axis_old;        
    
    -webkit-align-items: $align_second_axis;           
    align-items:         $align_second_axis;            

    /*========================================== FLEX-WRAP*/
    -webkit-flex-wrap:  $wrap_mode;
    -moz-flex-wrap:  	$wrap_mode;    
    -ms-flex-wrap:      $wrap_mode; 
    flex-wrap:          $wrap_mode; 

    

    /*==========================================  CHILDS  */
    > *{

        -webkit-box-flex:   $expand_mode;
        -moz-box-flex:      $expand_mode;
        -webkit-flex:       $expand_mode $shrink_mode auto;
        -ms-flex:           $expand_mode $shrink_mode auto;
        flex:               $expand_mode $shrink_mode auto; 
    }
}




 
//======================================== SASS ICONS PLUS/CROSS
//======================================== SASS ICONS PLUS/CROSS
//======================================== SASS ICONS PLUS/CROSS
//======================================== SASS ICONS PLUS/CROSS
	
	@mixin icon_font_fl_mx ($elem_hover_: "_self", 			//OPTIONS: "_self"   |  parent element
							$position_:relative, 
							$left_: 0px, 
							$top_: 0px,
							$display_: inline-block,

							$time_anim_: 0.2s,

							$type_: "cross", 			//"plus"   |   "cross"

							$border_main_thick_: 0px,
							$border_main_thick_hover: 0px,
							$border_main_color_: yellow,
							$border_main_color_hover: green,
							$border_radius_holder_: 0,
							
							$cor_bg_: red,
							$cor_bg_hover_: green,

							$width_:  67px, 				
							$height_: 67px,

							$valor_dimensao_lines_: 		7px, 	
							$valor_dimensao_lines_hover_: 	15px,

							$thick_line_: 		  1px,
							$thick_line_hover_:   1px,
							$round_thick_line_:   0px,  		 	 		

							$cor_line_: 		white,
							$cor_line_hover_:   red
							)
	{
		position: 	$position_;
		left: 		$left_; 						
		top: 		$top_; 
		display: 	$display_;
		//.......................... ANIMATION						
		$time_anim: $time_anim_;
		transition:  all $time_anim linear; 	     
		//.......................... TYPE: CROSS  |  PLUS
		$rotation_cruz_a: 0;		
		$rotation_cruz_b: 0;

		@if $type_ == "cross" {    
				
				$rotation_cruz_a: 45deg;
				$rotation_cruz_b: -45deg;

    	}@if $type_ == "plus" {  
   				
				$rotation_cruz_a: 0deg;
				$rotation_cruz_b: 90deg; 
   		}
		//.......................... 
		$border_main_thick: 	$border_main_thick_;
		$border_main_color: 	$border_main_color_;
		$border_radius_holder: 	$border_radius_holder_; 
		border: $border_main_thick $border_main_color solid;	
		//.......................... 
		$cor_bg:  			$cor_bg_;
		$cor_bg_hover:  	$cor_bg_hover_;			
		$width:  		$width_; 				
		$height: 		$height_; 				
		//.......................... 
		$valor_dimensao_lines: 			$valor_dimensao_lines_; 	
		$valor_dimensao_lines_hover: 	$valor_dimensao_lines_hover_;    
		$thick_line: 					$thick_line_;			
		$thick_line_hover: 				$thick_line_hover_;	
		$round_thick_line: 			$round_thick_line_;
		$cor_line:  				$cor_line_;  		
		$cor_line_hover: 	 		$cor_line_hover_; 			
		//............................ 
		background-color: 	$cor_bg;
		border-radius:    	$border_radius_holder;
		height: 			$height;
		width:  			$width;
		//............................ 
		.plus_font_inner {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			
			@include flexbox( $direction: row,                            
	                $align_main_axis: center,                  
	                $align_second_axis: center,               
	                $expand_mode: 0,                            
	                $wrap_mode: nowrap,
	                $shrink_mode: 0                          
	              );          
        }            
		//............................ SIGNAL LINES (CROSS/PLUS)
		& .plus_font_inner > .lines {
			margin: 0; 						
			-moz-box-sizing: border-box; 	
			box-sizing: 	 border-box; 	

			border: none;
			border-radius: $round_thick_line; 			
			-webkit-transform-origin: 	50% 50%;					
			transform-origin: 			50% 50%;
			
			width:  $valor_dimensao_lines;    
			height: $thick_line; 			
			background-color: $cor_line;

			transition: all $time_anim linear;	  
		}
		//............................ LINE
		& .plus_font_inner > .vert_font {
			-webkit-transform: 	rotate($rotation_cruz_a);
			transform: 			rotate($rotation_cruz_a);								
		}	
		//............................  LINE
		& .plus_font_inner > .hor_font {
			-webkit-transform: rotate($rotation_cruz_b);
			transform: rotate($rotation_cruz_b);												
		}
		//............................ HOVER
		//.......... HOVER ON THE PARENT
		@if $elem_hover_ != "_self" 
		{  
				#{$elem_hover_}:hover  &    { 	background-color: $cor_bg_hover; 
												cursor: pointer; 					
												border: $border_main_thick_hover $border_main_color_hover solid;
											} 

				#{$elem_hover_}:hover  & .plus_font_inner  
				{
						$valor_dimensao_lines: $valor_dimensao_lines_hover;
							
						.hor_font, .vert_font 
						{
								width: 	$valor_dimensao_lines;
								height: $thick_line_hover; 
								background-color: $cor_line_hover; 
						}
				}
		//.......... HOVER ON THE ICON ITSELF 
		}@if $elem_hover_ == "_self"
		{  
				&:hover     { 	background-color: $cor_bg_hover; 
												cursor: pointer;
								border: $border_main_thick_hover $border_main_color_hover solid;				 					
							} 

				&:hover   .plus_font_inner  
				{
						$valor_dimensao_lines: $valor_dimensao_lines_hover;
						
						.hor_font, .vert_font 
						{
								width: 	$valor_dimensao_lines;
								height: $thick_line_hover; 
								background-color: $cor_line_hover; 
						}
				}
		}					
	}


	//................. EX.
	.mx_icon {
		//MIXIN ICON BTN PLUS/CROSS
		@include icon_font_fl_mx ( $elem_hover_: ".sass_hover_btn_fl_mx",   	//"_self"
							$position_:relative, 
							$top_: 0,
							$left_: 0,
							$display_: inline-block,

							$time_anim_: 0.2s,

							$type_: "plus", 									//cross

							$border_main_thick_: 2px,
							$border_main_thick_hover: 2px,
							$border_main_color_: yellow,
							$border_main_color_hover: red,
							$border_radius_holder_:20px,

							$cor_bg_: 		black,
							$cor_bg_hover_: white,

							$width_:  37px, 				
							$height_: 37px,

							$valor_dimensao_lines_: 17px,
							$valor_dimensao_lines_hover_: 27px,

							$thick_line_: 5px,
							$thick_line_hover_: 1px,
							$round_thick_line_: 4px,

							$cor_line_: 		#999, 				
							$cor_line_hover_:   #999     	 	
							
		);		
	}

	.sass_hover_btn_fl_mx {
		background-color: green;

		margin: 40px 0 0 100px;

		width: 100px;
	}

	//................. EX.
	.mx_icon2 {
		//MIXIN ICON BTN PLUS/CROSS
		@include icon_font_fl_mx ( $elem_hover_: ".sass_hover_btn_fl_mx2",   	//"_self"
							$position_:relative, 
							$top_: 0,
							$left_: 0,
							$display_: inline-block,

							$time_anim_: 0.2s,

							$type_: "cross", 									//plus

							$border_main_thick_: 	  1px,
							$border_main_thick_hover: 1px,
							$border_main_color_: 		red,
							$border_main_color_hover: 	green,
							$border_radius_holder_:15px,

							$cor_bg_: 		blue,
							$cor_bg_hover_: black,

							$width_:  27px, 				
							$height_: 27px,

							$valor_dimensao_lines_: 		9px,
							$valor_dimensao_lines_hover_: 	17px,

							$thick_line_: 1px,
							$thick_line_hover_: 4px,
							$round_thick_line_: 0,

							$cor_line_: 		white, 				
							$cor_line_hover_:   #999     	 	
							
		);		
	}

	.sass_hover_btn_fl_mx2 {
		background-color: black;

		margin: 40px 0 0 100px;

		width: 100px;
	}


	



	














































































































